div {
    padding: 5px 5px;
}

div div {
    padding: 20px 5px 5px 20px;
}

body {
    background-color: #f2f2f2;
}

span {
    padding-right: 5px;
}

.outer-box > div {
    background-color: #a2a2a2;
}